.home-container {
  margin: 16px auto;
  width: 50%;
}

.eventos-wrapper {
  margin: 12px 0;
}

.evento-item {
  margin: 8px 0;
}

.evento-property {
  border: 1px solid #e5e7eb;
  padding: 6px 16px;
}
